body {
  font-family: Tahoma, sans-serif;
  color: #ed6b0e;
  background-color: #f4f6c1; }

footer {
  padding-bottom: 25px; }

div.list-group-item {
  color: #9e653c;
  background-color: #f3f5a2; }

div.list-group-item:hover {
  color: #9e653c;
  background-color: #f4f6c1; }

div.list-group-item::selection {
  color: #ed6b0e;
  background-color: #f1f2d2; }

#image {
  float: left; }

#beer {
  width: 75px; }

#content {
  min-width: 250px; }

#warning {
  color: #f1140d; }

.list-group-item {
  height: auto;
  margin-bottom: auto;
  padding-bottom: 20px; }

img {
  width: 70px; }

.imgContainer {
  float: left;
  width: 80px; }

.attending {
  float: right; }

.description {
  float: none;
  padding-left: 5px;
  padding-right: 15px; }

.header {
  margin: 5px auto; }

.navbar-default {
  background-color: #f3f5a2;
  border-color: #f4f6c1; }
  .navbar-default .navbar-brand {
    color: #ed6b0e; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #9e653c; }
  .navbar-default .navbar-text {
    color: #ed6b0e; }
  .navbar-default .navbar-nav > li > a {
    color: #ed6b0e; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #9e653c; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #9e653c;
    background-color: #f4f6c1; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #9e653c;
    background-color: #f4f6c1; }
  .navbar-default .navbar-toggle {
    border-color: #f4f6c1; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #f4f6c1; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ed6b0e; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ed6b0e; }
  .navbar-default .navbar-link {
    color: #ed6b0e; }
    .navbar-default .navbar-link:hover {
      color: #9e653c; }

.navbar-nav > li > .dropdown-menu {
  background-color: #f3f5a2; }

.dropdown-menu > li > a {
  color: #ed6b0e; }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #9e653c; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #9e653c;
  background-color: #f4f6c1; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ed6b0e; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #9e653c; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #9e653c;
    background-color: #f4f6c1; } }
